<form action="/auth/create-collaborator" method="post">
  <label>Name</label>
  <input type="text" name="name">
  <label>Last Name</label>
  <input type="text" name="lastName">
  <label>Email</label>
  <input type="email" name="email">
  <label>Password</label>
  <input type="password" name="password">
  <br>
  <br>
  {{#if error}}
  <div class="help is-danger">{{error.message}}</div>
  {{/if}}
  <button type="submit">Agregar</button>
</form>