<form action="/auth/edit-profile" method="post" enctype="multipart/form-data">
<img src="{{fotoPerfil}}" alt="">
<label for="name">Name</label>
<input type="text" value="{{name}}">
<label for="lastname">Last Name</label>
<input type="text" value="{{lastName}}">
<label for="email">Email</label>
<input type="email" value="{{email}}">
<label for="image">Image</label>
<input name="image" type="file">

<input type="submit" value="Edit profile">


</form>