{{!-- Usa la informacion que tienes en tu modelo. Ej: lastName, name. A exception de _id --}}
<h1>HELLO</h1>

<p>{{name}} {{lastName}}</p>

{{!-- IMAGEN REDONDA
<figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure> --}}

