{{!-- Usa la informacion que tienes en tu modelo. Ej: lastName, name. A exception de _id --}}

<section class='section'>
  <div class="container">
  <div class="columns is-desktop is-centered">

<div class="column is-half">
  <div class="card">
  <div class="card-image">
    <figure class="image is-128x128">
  <img class="is-rounded" src="{{fotoPerfil}}">
</figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{name}} {{lastName}}</p>
        <p class="subtitle is-6">{{email}}</p>

        

      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. 
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>