<br><br>
<h1>Hola {{user.name}} {{user.lastName}}</h1>
<div style="height:500px; width:500px">
<canvas id="myChart1"></canvas>
</div>
<canvas id="myChart2" width="400" height="400"></canvas>
<canvas id="myChart3" width="400" height="400"></canvas>
<canvas id="myChart4" width="400" height="400"></canvas>