<br>
<h1 class="has-text-centered has-text-weight-bold is-size-4">Hola</h1>

<br>

<div class="columns is-centered">
    <div class="column is-6">
        <table class="table is-striped is-fullwidth">
    <tr>
        <td>Nombre:</td>
        <td>{{user.name}}</td>
    </tr>
    <tr>
        <td>Apellido:</td>
        <td>{{user.lastName}}</td>
</table>
    </div>
</div>

<br>
<div class="has-text-centered"> 
    <a class="button is-info" href="/auth/add-patient-info/{{paciente._id}}">Añadir información de la consulta</a>
</div>


<br><br>



<div class="centrar-chart columns is-centered">
    <div class="column is-5">
        <div style="height:600px; width:6   00px">
<canvas id="myChart1"></canvas>
</div>
        <script>
var ctx1 = document.getElementById('myChart1').getContext('2d');
var myChart = new Chart(ctx1, {
    type: 'line',
    data: {
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
        datasets: [{
            label: 'Peso',
            data: [{{user.peso}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
    </div>
</div>
</html>