<h1>YAAAAAA</h1>
​
<form action="/auth/login" method="post">
<label for="">Email</label>
<input type="email" name="email">
<label for="">Password</label>
<input type="password" name="password">
<br>
<input type="submit" value="Login">
</form>



{{!-- PARA HACER LOGIN With icons --}}
{{!-- POR QUE ESTE NO ES UN FORM CON ACTION Y POST, SOLO SE AGREGA?? --}}


{{!-- <div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input" type="email" placeholder="Email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-primary">
      Login
    </button> --}}