



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>





 <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item icon is-large	has-text-white">

          <i class="fab fa-3x	fa-nutritionix"></i>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="burger" class="navbar-menu">
      
        <div class="navbar-start">
          {{#if isLoggedIn}}
          <a href="/auth/profile" class="navbar-item">
              <strong>Perfil</strong>
          </a>
          {{/if}}
        </div>
        {{#if isDr}}
        <div class="navbar-end">
            <a href="/auth/colaboradores" class="has-text-white navbar-item">
         <strong>Colaboradores</strong>
        </a>
        {{/if}}
        {{#if isDr}}
        <a href="/auth/pacientes" class="has-text-white navbar-item">
           <strong>Pacientes</strong>
        </a>
        {{/if}}
        {{#if isColab}}
        <a href="/auth/pacientes" class="has-text-white navbar-item">
           <strong>Pacientes</strong>
        </a>
        {{/if}}
        {{#if isPaciente}}
        <a href="/auth/progreso" class="has-text-white navbar-item">
           <strong>Mi Progreso</strong>
        </a>
        {{/if}}
        {{#if isLoggedIn}}
        <a href="/auth/logout" class="has-text-white navbar-item">
           <strong>Salir</strong>
        </a>
        {{/if}}
        </div>

       
      </div>
    </div>
  </nav>
  {{{body}}}


  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="/javascripts/progreso.js" charset="utf-8"></script>
  <script src="/javascripts/script.js"></script>


{{#unless isGraphView}}
</body>
</html>
{{/unless}}

