<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>





 <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item icon is-large	has-text-success">
          {{!-- SI QUIERES HACER MODIFICACIONES AL SIZE EN CSS (font awesome)--}}
          <i class="fab fa-3x	fa-nutritionix"></i>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="burger" class="navbar-menu">
      
        {{#equal role 'MEDICO'}}
        <div class="navbar-start">
          <a href="/auth/profile" class="navbar-item">
            Perfil
          </a>
        </div>
        <a href="/auth/colaboradores" class="navbar-item">
         Colaboradores
        </a>

        <a href="/auth/pacientes" class="navbar-item">
         Pacientes
        </a>
        <a href="/auth/logout" class="navbar-item">
         Salir
        </a>
        {{/equal}}

         {{#equal role 'EMPLEADO'}}
        <div class="navbar-start">
          <a href="/auth/profile" class="navbar-item">
            Perfil
          </a>
        </div>
        <a href="/auth/pacientes/{{this.pacientes}}" class="navbar-item">
         Pacientes
        </a>
        <a href="/auth/logout" class="navbar-item">
         Salir
        </a>
        {{/equal}}

        {{#equal role 'PACIENTE'}}
          <div class="navbar-start">
            <a href="/auth/profile" class="navbar-item">
              Perfil
            </a>
          </div>
          <a href="/auth/paciente/{{this._id}}" class="navbar-item">
          Progreso
          </a>
          <a href="/auth/logout" class="navbar-item">
          Salir
          </a>
        {{/equal}}
       
      </div>
      {{!-- <div class="navbar-end">
        <a href="/" class="navbar-item">
          Iniciar Sesion
        </a>
        <a href="/auth/colaboradores" class="navbar-item">
         Colaboradores
        </a>

        <a href="/auth/pacientes" class="navbar-item">
         Pacientes
        </a>
        <a href="/auth/logout" class="navbar-item">
         Salir
        </a>
      </div> --}}
    </div>
  </nav>








  {{{body}}}


  <script src="/javascripts/script.js"></script>
</body>
</html>