body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-menu{
  font-size: 25px;
  padding: 10px
}

  .navbar-item.icon{
    font-size: 25px;
    
  }

  .icon.is-large{
    height: 6rem;
    width: 6rem 
  }

  .centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 15px;
  }

.center{
  display: flex;
  justify-content: center;

}  

.uno{
    background-color: transparent;
    border-top: 1px solid #dbdbdb;
    align-items: stretch;
   
}

.my-delete{
    border:none;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    text-align: center;
    &:hover{
      color: black !important;
    }
    font-size: 1.25rem
}

.buttons.is-centered{
  margin-top: 5%
}

.card{
  position: relative;
  .float-right{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 50px;
    height: 40px;
  }
}

.is-primary .navbar-end>a.navbar-item:hover,
.is-primary .navbar-start>a.navbar-item:hover{
  color: #111111 !important;
}