body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-menu{
  font-size: 25px;
  padding: 10px
}

  .navbar-item.icon{
    font-size: 25px;
    
  }

  .icon.is-large{
    height: 6rem;
    width: 6rem 
  }

  .column.is-6{
    margin-top: 7.5%;
  }